<div class="title">
    <h2><i class="fa "></i>添加项目</h2>
</div>
<%= form_for [:admin, @service], html: {id:"Forms", role: "form" }  do |f| %>
  <table class="tab2 mt20">
    <tr>
      <td width="100" class="bold right">项目名称</td>
      <td>
        <%= f.text_field :name, class: "texts2 w450 l", required:"on", autofocus:"on", autocomplete:"off", placeholder: "图片名称不能为空" %>
        <span class="notice">*</span>
      </td>
    </tr>
  
    <tr>
        <td>&nbsp;</td>
        <td style="padding-top:75px;">
          <button class="btn3 mr20" type="submit"><i class="fa fa-check"></i>完成</button>
          <button onclick="history.go(-1)" class="btn4" type="button"><i class="fa "></i>返回</button>
        </td>
      </tr>
  </table>
<% end %>
