<div class="title">
    <h2><i class="fa fa-pencil-square-o"></i>修改问答</h2>
</div>
<%= form_for [:admin, @question], html: {id:"Forms", role: "form" }  do |f| %>
  <table class="tab2 mt20">
    <tr>
      <td width="100" class="bold right">问:</td>
      <td>
        <%= f.text_field :name, class: "texts2 w450 l", required:"on", autofocus:"on", autocomplete:"off" %>
      </td>
    </tr>

    <tr>
      <td width="100" class="bold right">答案简介:</td>
      <td>
        <%= f.text_area :desc, rows: 4 cols: 100 %>
      </td>
    </tr>

    <tr>
      <td width="100" class="bold right">答案详情:</td>
      <td>
        <%= f.kindeditor :context %>
      </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td style="padding-top:75px;">
          <button class="btn3 mr20" type="submit"><i class=""></i>完成</button>
          <button onclick="history.go(-1)" class="btn4" type="button"><i class=""></i>返回</button>
        </td>
      </tr>
  </table>
<% end %>
