<div class="title">
    <h2><i class="fa fa-pencil-square-o"></i>修改案例</h2>
</div>
<%= form_for  [:admin, @case], html: {id:"Forms", role: "form" }  do |f| %>
  <table class="tab2 mt20">
    <tr>
      <td width="100" class="bold right">标题</td>
      <td>
        <%= f.text_field :name, class: "texts2 w450 l", required:"on", autofocus:"on", autocomplete:"off" %>
        <span class="notice">*</span>
      </td>
    </tr>
  
    <tr>
      <td class="bold right" valign="top">图片</td>
      <td>
        <%= f.file_field :image, class: "prizeImgfile", id: "UploadFile1" %>
      </td>
    </tr>

     <tr>
      <td class="bold right" valign="top">内容</td>
      <td>
        <%= f.kindeditor :context %>
      </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="padding-top:75px;">
          <button class="btn3 mr20" type="submit"><i class=""></i>完成</button>
          <button onclick="history.go(-1)" class="btn4" type="button"><i class=""></i>返回</button>
        </td>
      </tr>
  </table>
<% end %>

